page-about {

  ion-card{
    width: 100 vw !important;
    margin: auto !important;
    margin-top: 10px !important;
  }

  .iconYellow{
    color: #f4e242;
  }
  .myimg{
    width: 70% !important;
    margin: auto !important;
  }


}
